$btm-color: #ff7400;
$font_text-color:#656363;
$font_title-color:#D67E34;

@font-face
{
    font-family: OpenSans;
    src:url(../fonts/OpenSans_Condensed-Bold.ttf);
    font-weight:700;
}
@font-face
{
    font-family: OpenSans;
    src:url(../fonts/OpenSans_Condensed-Regular.ttf);
    font-weight:400;
}
@font-face
{
    font-family: Tinos;
    src:url(../fonts/Tinos-Regular.ttf);
    font-weight:400;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn
{
    background-color: $btm-color;
    color:#fff;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 18px;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.container
{
    max-width: 1110px;
    margin: 0 auto;
    @media (max-width:1025px) {
        min-width: unset;
        padding: 0 10px;
    }
    @media (max-width:500px) {
        padding: 0 14px;
    }
}
.main
{
    background: url(../img/back.png) no-repeat center center / cover;
    height: 100vh;
    @media (max-width:500px) {
        height: unset;
        padding-bottom: 305px;
    }
    @media (max-width:863px) {
        background: url(../img/back.png) no-repeat top center center / cover;
    }
    &__block
    {
        max-width:485px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width:863px) {
            margin-top: 50px;
        }
        @media (max-width:500px) {
            margin-top: 250px;
        }
    }
    &__subtitle
    {
        font-family: Tinos;
        font-weight: 400;
        color:#D67E34;
        font-size: 50px;
        @media (max-width:863px) {
            font-size: 30px;
        }
    }
    &__title
    {
        font-family: Tinos;
        font-weight: 400;
        color: #D67E34 ;
        font-size: 80px;
        @media (max-width:863px) {
            font-size: 60px;
        }
        @media (max-width:863px) {
            font-size: 40px;
        }
    }
    &__text
    {
        font-family: OpenSans;
        font-weight: 400;
        color:#fff;
        font-size: 18px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        &::before,&::after
        {
            content: '';
            display: block; 
            width: 61px;
            height: 2px;
            background-color:#fff;
            @media (max-width:500px) {
                display: none;
            }
        }
    }
}
.header
{
    padding: 50px 0;
    &__wrap
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block
    {
        display: flex;
        align-items: center;
        @media (max-width:749px) {
            display: none;
        }
        
    }
    &__logo
    {
        width: 100px;
        & img{
            width: 100%;
        }
        @media (max-width:862px) {
            width: 75px;
        }
        @media (max-width:749px) {
            width: 55px;
        }
        @media (max-width:500px) {
            width: 45px;
        }
    }
    &__menu
    {
        display: flex;
        gap: 23px;
        margin-right: 36px;
        @media (max-width:862px) {
            margin-right: 25px;
        }
    }
    &__link
    {
        font-family: openSans;
        font-weight: 700;
        font-size: 14px;
        color:#fff;
        &:hover
        {
            color:$font_text-color;
        }
        @media (max-width:862px) {
            font-size: 12px;
            font-weight: 400;
        }
    }
    &__burg
    {
        display: none;
        @media (max-width:749px) {
            display: block;
        }
    }

    &__box
    {
        display: flex;
        align-items: center;
        margin-right: 45px;
        @media (max-width:862px) {
            margin-right: 25px;
        }
    }
    &__cart
    {
        border-right: 1px solid #fff;
        padding: 17px 21px 17px 0px;
        margin-right: 34px;
        @media (max-width:862px) {
            margin-right: 20px;
        }

    }
    &__phone
    {
        &-link{
            font-family: OpenSans;
            font-weight: 700;
            font-size: 18px;
            color:#fff;
            display: flex;
            gap: 8px;
            &::before
            {
                content: ' ';
                background: url(../img/phone.png);
                display: block;
                width: 23px;
                height: 23px;

            }
            @media (max-width:862px) {
                font-size: 14px;
                font-weight: 400;
            }
        }
        &-text
        {
            font-family: openSans;
            font-weight: 400;
            font-size: 14px;
            color:#fff;
            max-width: 155px;
        }

        &__btn
        {
            @media (max-width:862px) {
                text-align: center;
            }
        }
    }
}

.history
{

    &_card
    {
        height: 328px;
        width: 349px;
        box-shadow: 10px 10px 40px 1px rgba(0  0 0.1);
        padding-top: 48px 25px 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
        text-align: center;
        background-color: #fff;
        @media (max-width: 1025px){
            width: 320px;
            height: 300px;
            padding: 40px 20px 20px 20px;
            font-size: 20px;
        }
        @media (max-width: 768px){
            padding: 20px;
            width: 100%;
        }
    }
    &_card_title
    {
        color: #2c2c2c;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;

        span
        {
            color:$font_title-color;
        }
    }

    &_card_text
    {
        color:$font_text-color;
    }

    &_card-wrap
    {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: -110px;
        @media (max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 500px){
            margin-top: -170px;
            gap:15px;
        }
    }

    &_bottom-bock{
        display: flex;
        align-items: center;
        margin-top: 130px;
        justify-content: space-between;
        @media (max-width: 1025px){
            flex-direction: column;
            gap: 60px;
        }

    }

    &_text{
        width: 444px;
        color:$font_text-color;
        margin-top: 20px;
        margin-bottom: 60px;
        font-family: OpenSans;
        @media (max-width: 768px){
            width: auto;
        }
    }

    &_food-counts{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media (max-width: 400px){
            flex-direction: column;
        }
    }

    &_food_count{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: OpenSans;
        span{
            color: #BC9060;
            font-size: 40px;
        }
    }

    &_img-part{
        img{
            width: 100%;
        }
    }
}



.section_title{
    font-size: 54px;
    span{
        color:$font_title-color;
    }
    @media (max-width: 768px){
        font-size: 46px;
    }
    @media (max-width: 400px){
        font-size: 40px;
    }
}

.order{
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url("../img/OUR STORY.png");
    background-position: center;

    &_text-title{
        color:$font_title-color;
        font-size: 52px;
        margin-bottom: 20px;
        @media (max-width: 1025px){
        font-size: 36px;
        }
    }

    &_text-block{
        max-width: 601px;
        p{
            font-size: 24px;
            color:#fff;
            font-weight: 700;
            font-family: OpenSans;
        }
    }

    &_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.shef{
    
    text-align: center;
    &__wrap{
        padding: 137px 0;
    }

    &__pic{
        gap: 30px;
        margin-top: 107px;
        display: flex;
        @media (max-width: 1120px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            
        }
    }
}

.menu{
    background: url(../img/bgmenu.png) no-repeat center center / cover;
    padding: 100px 0 262px 0;
    
    @media (max-width: 1120px) {
        padding: 80px 0 180px 0;
    }
    @media (max-width: 767px) {
        padding: 60px 0 110px 0;
    }
    
    &__title{

        font-family: Tinos;
        font-weight: 400;
        margin-bottom: 137px;
        color: #fff;
        text-shadow: 5px 5px 4px rgba($color: #000000, $alpha: 1);
        text-align: center;

        @media (max-width: 768px) {
            font-size: 46px;
        }
    
        @media (max-width: 400px) {
            font-size: 40px;
        }
    }

    &__cards{
        align-items: center;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1120px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
    }

    &__card{
        background-color: #fff;
        padding: 80px 62px 29px 62px;
        align-items: center;
        text-align: center;
        
    }

    &__card-none{
        @media (max-width: 1120px) {
            display: none;
        }
    }


    
    &__price{
        position: relative;
        width: 225px;
        height: 225px;
        margin-bottom: 22px;
        background: url(../img/burger.png) no-repeat center center / cover;
        
    }
    
    &__price-circle{
        position: absolute;
        bottom: 5px; 
        right: 5px; 
        width: 100px; 
        height: 100px; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: orange;
        border-radius: 50%; 
        border: 5px #fff solid;
        color: white; 
        font-family: Cookie;
        font-size: 30px;
    }


    &__btn{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        display: block;
        width: 220px;
        font-size: 16px;
        font-family: OpenSans;
        font-weight: 700;
    }

    &__price-titles{
        margin-bottom: 17px;
        font-size: 26px;
        font-family: Tinos;
        font-weight: 400;
    }

    &__price-text{
        margin-bottom: 20px;
        font-size: 16px;
        font-family: OpenSans;
    }
}

.feedback{
    text-align: center;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;


    &__wrap{
        padding: 105px 0;
        @media (max-width: 767px) {
            padding: 0;
        }
    }

    &__text{
        font-style: italic;
        max-width: 860px;
        margin-bottom: 20px;
        font-family: OpenSans;
        font-size: 20px;
      
    }

    &__review__pic{
        margin-bottom: 16px;
    }

    &__role{
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 20px;
        font-family: OpenSans;
        
    }

    &__name{
        font-size: 20px;
        font-family: OpenSans;
        font-weight: 400;
        margin-bottom: 25px;

    }
}